@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

/* body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */


.creator-card {
  background: #ffffffb3;
  border-radius: 16px;
  height: 172px;
  opacity: 0;
  position: absolute;
  transform: scale(0);
  transform: scale(.8);
  transform-origin: center;
  transform-style: preserve-3d;
  transition: all .5s ease;
  width: 192px;
  will-change: transform;
}

.creator-card .animate {
  transition: all .5s cubic-bezier(.2,.75,.28,.9);
}

.creator-card:first-of-type {
  transform: scale(.8) rotate(2.498deg) translate(0);
}
.creator-card.animate {
  transition: all .5s cubic-bezier(.2,.75,.28,.9);
}

.creator-card:first-of-type {
  transform: scale(.8) rotate(2.498deg) translate(0);
}

.creator-card.active:first-of-type {
  opacity: 1;
  transform: scale(1) rotate(2.498deg) translate(0);
  transition-duration: 10.3s;
  transition-delay: 10.3s;
}

.creator-card.active:nth-of-type(2) {
  opacity: 1;
  transform: scale(1) rotate(-5deg) translate(54px, 120px);
  /* transition-delay: 1.15s; */
}
.creator-card.active:nth-of-type(3) {
  opacity: 1;
  transform: scale(1) rotate(9.087deg) translate(14px, 140px);
  /* transition-delay: 50s; */
}


.galaxy-background {
  /* background-image: url(https://uploads-ssl.webflow.com/6408bea…/6438c30…_stars-bg.png); */
  background-image: linear-gradient(135deg, #1e1e20, #0e0e11 32%);
  background-position: 50%;
  background-size: 1090px;
  /* background-size: cover;
  background-position: center; */
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  overflow: hidden;
  opacity: 1;
}

.grid {
  z-index: 2;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  padding-top: 56px;
  display: grid;
  position: relative;
}

.card {
  max-height: 400px;
  min-height: 400px;
  background-color: #1d1c20;
  border: 1px solid rgba(255, 255, 255, .08);
  border-radius: 24px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  position: relative;
  overflow: hidden;
}
.card-info {
  z-index: 16;
  position: relative;
}

.book {
  z-index: 5;
  width: 200px;
  /* transform: scale3d(1none, 1none, 1none); */
  cursor: pointer;
  transform-style: preserve-3d;
  border-top-right-radius: 8px;
  transition: box-shadow .2s;
  display: block;
  position: absolute;
  top: 167px;
  left: 41px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .24);
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}
.book:hover {
  box-shadow: 0 0 12px 1px rgba(0, 0, 0, .24);
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(2deg) skew(0deg, 0deg);
}
.back-cover {
  z-index: 100;
  transform-style: preserve-3d;
  background-image: url(https://uploads-ssl.webflow.com/6408bea…/6410f10…_grain.png), linear-gradient(225deg, #7b61ff, #3e25bd);
  background-position: 50%, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: cover, auto;
  border-radius: 8px 0 0 8px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  transform: translateZ(-2vw) rotateX(0) rotateY(180deg) rotate(0);
}

.book-stars {
  z-index: 4;
  width: 1660px;
  max-width: none;
  position: absolute;
  top: 156px;
  bottom: auto;
  left: auto;
  right: -337px;
}

.card-blocker {
  z-index: 1000;
  background-color: #1d1c20;
  border: 1px solid transparent;
  border-radius: 24px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}
.container {
  width: 1200px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.card-heading {
  margin-top: 0;
  margin-bottom: 8px;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}
.card-paragraph {
  color: #a9a9a9;
  font-size: 15px;
}
.back-cover {
  z-index: 100;
  transform-style: preserve-3d;
  background-image: url(https://uploads-ssl.webflow.com/6408bea…/6410f10…_grain.png), linear-gradient(225deg, #7b61ff, #3e25bd);
  background-position: 50%, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: cover, auto;
  border-radius: 8px 0 0 8px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  transform: translateZ(-2vw) rotateX(0) rotateY(180deg) rotate(0);
}
.cover {
  width: 100%;
  height: 0;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  background-color: #7b61ff;
  background-image: url(https://uploads-ssl.webflow.com/6408bea…/6410f10…_grain.png), linear-gradient(225deg, #7b61ff, #3e25bd);
  background-position: 50%, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: cover, auto;
  border-top-left-radius: 2px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-bottom: 141%;
  position: relative;
}
.spine {
  width: 2vw;
  opacity: 1;
  transform-origin: 0%;
  transform-style: preserve-3d;
  background-image: url(https://uploads-ssl.webflow.com/6408bea…/6410f10…_grain.png), linear-gradient(225deg, #7b61ff, #1e1550);
  background-position: 50%, 0 0;
  background-repeat: no-repeat, repeat;
  background-size: cover, auto;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: auto;
  transform: rotateX(0) rotateY(90deg) rotate(0);
}
.pages.pages--top {
  height: 2vw;
  transform-origin: 50% 0;
  transform-style: preserve-3d;
  position: absolute;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: .5vw;
  transform: translateY(.5vw) rotateX(-90deg) rotateY(0) rotate(0);
}
.pages.pages--bottom {
  height: 2vw;
  transform-origin: 50% 100%;
  transform-style: preserve-3d;
  position: absolute;
  top: auto;
  bottom: 0%;
  left: 0%;
  right: .5vw;
  transform: translateY(-.5vw) rotateX(90deg) rotateY(0) rotate(0);
}
.pages.pages--side {
  z-index: 1;
  width: 2vw;
  transform-origin: 100%;
  transform-style: preserve-3d;
  background-image: repeating-linear-gradient(90deg, rgba(0, 0, 0, .19), rgba(255, 255, 255, .1) 5%);
  position: absolute;
  top: .5vw;
  bottom: .5vw;
  left: auto;
  right: 0%;
  transform: translate(-.5vw) rotateX(0) rotateY(-90deg) rotate(0);
}
.cover__fold.cover__fold--back {
  left: auto;
  right: 0;
  transform: rotate(180deg);
}
.cover__fold {
  width: 7%;
  height: 100%;
  background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, .08) 34%, rgba(255, 255, 255, .22) 47%, rgba(255, 255, 255, 0) 59%, rgba(255, 255, 255, .12) 75%, rgba(255, 255, 255, 0));
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: auto;
}
.cover__front-shadow {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, .1), rgba(252, 225, 25, .1));
  border-top-right-radius: 8px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}
.cover__padding {
  z-index: 100;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 9.3%;
  padding-right: 10.2%;
  display: flex;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}
.spine-logo {
  width: 20px;
  transform-style: preserve-3d;
  position: absolute;
  top: 14px;
  right: 6px;
  transform: rotateX(0) rotateY(180deg) rotate(0);
}
.spine-text {
  width: 25px;
  transform-style: preserve-3d;
  position: absolute;
  top: 64px;
  right: 4px;
  transform: rotateX(0) rotateY(180deg) rotate(0);
}
.pages {
  background-color: #fff;
  background-image: repeating-linear-gradient(rgba(0, 0, 0, .19), rgba(255, 255, 255, .1) 5%);
}
.book-outline-back {
  width: 164px;
  max-width: none;
  min-width: 171px;
  opacity: .32;
  position: absolute;
  top: 6px;
  left: 11px;
}
.book-logo-back {
  width: 70px;
  position: relative;
  top: 0;
  right: 0;
}
.book-title {
  z-index: 100;
  width: 120px;
  position: relative;
  top: 0;
  right: -7px;
}
.book-author {
  z-index: 100;
  width: 70px;
  position: relative;
  top: 12px;
  right: -7px;
}
.book-sparkle {
  z-index: 100;
  width: 26px;
  position: absolute;
  top: 48px;
  right: 82px;
}
.book-outline {
  z-index: 100;
  width: 164px;
  max-width: 171px;
  min-width: 171px;
  opacity: .32;
  position: absolute;
  top: 6px;
  left: 20px;
}

.figma-logo {
  z-index: 3;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
  position: absolute;
  top: 112px;
  right: 145px;
  transform: scale(.7);
  transform: translate3d(0px, 0px, 0px) scale3d(0.7, 0.7, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg);
}
.card:hover > .figma-logo {
  transform: translate3d(16px, 0px, 0px) scale3d(0.7, 0.7, 1) rotateX(0deg) rotateY(0deg) rotateZ(2deg) skew(0deg, 0deg);
  will-change: transform;
}
.figma-pill-1 {
  width: 100px;
  height: 100px;
  position: relative;
}
.figma-front {
  z-index: 2;
  width: 100%;
  height: 100%;
  position: relative;
}
.figma-box {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.figma-box.box--1 {
  z-index: 2;
  background-color: #ff6831;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  box-shadow: inset 12px 0 16px #c51d00;
}
.figma-box.box--1-copy-copy {
  background-color: #ff6831;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  box-shadow: 0 2px 50px rgba(250, 76, 47, .71), 0 4px 12px 8px #000;
}
.figma-box.figma-flex {
  background-color: #ff846f;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  overflow: visible;
  box-shadow: inset -11px 1px 16px rgba(226, 38, 6, .77);
}
.figma-box.box-1-top {
  background-color: #ff846f;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  box-shadow: inset -11px 1px 16px rgba(226, 38, 6, .77);
}
.figma-box.box-1-bottom {
  z-index: 0;
  background-color: #ff846f;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  box-shadow: 0 2px 50px rgba(255, 132, 111, .5), 0 4px 5px rgba(0, 0, 0, .2), inset -11px 1px 16px rgba(226, 38, 6, .77);
}
.figma-box.box-top {
  background-color: #ae62ff;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  box-shadow: inset 9px 0 15px #7400bb;
}
.figma-box.box-1-flex {
  background-color: #ff6831;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  overflow: visible;
  box-shadow: inset 12px 0 16px #c51d00;
}
.figma-box.box--4 {
  background-color: #51cdff;
  border-radius: 50% 50% 50px;
  box-shadow: inset -1px -4px 14px #2656ff;
}
.figma-box.box-bottom {
  background-color: #51cdff;
  border-radius: 50% 50% 50px;
  box-shadow: 0 2px 11px rgba(0, 0, 0, .56), 0 3px 40px rgba(0, 147, 206, .56), inset -1px -4px 14px #2656ff;
}
.figma-box.box-flex-5 {
  background-color: #44e587;
  border-radius: 50% 0% 50px 50%;
  overflow: visible;
  box-shadow: inset 0 -6px 11px rgba(1, 12, 10, .63);
}
.figma-box.box--5 {
  z-index: 2;
  background-color: #44e587;
  border-radius: 50% 0% 50px 50%;
  box-shadow: inset 0 -6px 11px rgba(1, 12, 10, .63);
}
.figma-box.box-bottom-5 {
  background-color: #44e587;
  border-radius: 50% 0% 50px 50%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  box-shadow: 0 2px 30px rgba(16, 201, 173, .56), 0 8px 12px #000;
}
.magician-logo-large {
  z-index: 3;
  width: 100px;
  display: flex;
  position: absolute;
  top: 210px;
  left: 219px;
  transform: scale(2.12);
  transform: translate3d(0px, 0px, 0px) scale3d(2.12, 2.12, 1) rotateX(0deg) rotateY(0deg) rotateZ(2deg) skew(0deg, 0deg);
}
.card:hover > .magician-logo-large {
  transform: translate3d(-16px, 0px, 0px) scale3d(2.12, 2.12, 1) rotateX(0deg) rotateY(0deg) rotateZ(2deg) skew(0deg, 0deg);
  will-change: transform;
}
.magician-logo-glow {
  z-index: 0;
  width: 140px;
  max-width: none;
  position: absolute;
  top: -17px;
  bottom: 0%;
  left: -21px;
  right: 0%;
  opacity: 0;
}
.card:hover > .magician-logo-glow {
  opacity: 1;
  will-change: opacity;

}
.magician-logo-img {
  z-index: 1;
  position: relative;
}
.fm-figma-blur {
  z-index: 3;
  width: 320px;
  height: 100%;
  background-image: linear-gradient(270deg, rgba(255, 255, 255, 0) 20%, #1d1c20 63%);
  position: absolute;
  bottom: 0%;
  left: -156px;
  opacity: 1;
}
.card:hover > .fm-figma-blur {
  opacity: 0.35;
  will-change: opacity;
}
.fm-magician-blur {
  z-index: 3;
  width: 320px;
  height: 100%;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 20%, #1d1c20 45%);
  position: absolute;
  bottom: 0%;
  left: 156px;
}
.card:hover > .fm-magician-blur {
  opacity: 0.35;
  will-change: opacity;
}
.card-blocker {
  z-index: 1000;
  background-color: #1d1c20;
  border: 1px solid transparent;
  border-radius: 24px;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}
.figma-box.box--1-copy-copy {
  background-color: #ff6831;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  box-shadow: 0 2px 50px rgba(250, 76, 47, .71), 0 4px 12px 8px #000;
  opacity: 0;
}
.card:hover > .figma-box.box--1-copy-copy {
  opacity: 1;
  will-change: opacity;
}
.figma-box.box-1-bottom {
  z-index: 0;
  background-color: #ff846f;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  position: absolute;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  box-shadow: 0 2px 50px rgba(255, 132, 111, .5), 0 4px 5px rgba(0, 0, 0, .2), inset -11px 1px 16px rgba(226, 38, 6, .77);
  opacity: 0
}
.card:hover > .figma-box.box-1-bottom {
  opacity: 1;
  will-change: opacity;
}
.card:hover > .figma-box.box-bottom {
  opacity: 1;
  will-change: opacity;
}